.mainCont{
    display: flex;
}

.dropdownContainer{
    margin-bottom:2em;
    display: flex;
    margin-left:10em;
}

.dropdown{
    padding:0.5em;
    border-radius:4px;
    color: rgb(105, 105, 105);
    border: none;
    font-size:1em;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(24, 24, 24);
}

.contDrop{
    display:flex;
    justify-content: left;
    margin-bottom:2em;
}

