tr:nth-child(even) {
    background: rgba(15, 19, 24, 0.295);
}


#episodeData{
    margin-bottom: 5%;
    text-align: center;
}

#avatar{
    margin-bottom:0%;
}

#avatarImg{
    display:block;
    margin:auto;
    margin-top:8%;
    border-radius: 50%;
}

#characterName{
    text-align: center;
    margin-top:2%;
}

body{
    background-image: url("../img/background.png");
    font-family: 'Questrial', sans-serif;
}s

#logo{
    display:block;
    margin:auto;
    margin-bottom: 5%;
}

.input, .select select, .textarea{
    background-color: rgba(253, 253, 253, 0.11);
    border: none;
    border-radius:0.3em;
    color:white;
}
  
.tags:not(:last-child){
    display:inline;
    margin:0.4em;
}

.tags:last-child {
    display:inline;
    margin-left:1em;
} 

.modal-card-body {
    padding:0;
    background-image: url("../img/wallpaper.png");
}

#content-frame{
    padding:20px;
}

.table{
    background-color:rgba(0, 0, 0, 0);
    color:white;
}

.is-3{
    color:white;
}

.subtitle{
    color:white;
}

.is-5{
    color:white;
}

.table td, .table th {
    border:1px solid rgb(16, 19, 23);
    border-width: 0 0 1px;
    padding: .9em .75em;
    vertical-align: top;
}

.table thead td, .table thead th {
    border-width: 0 0 2px;
    color: #ffffff;
}

.tag:not(body).is-link {
    background-color: rgba(0, 176, 199, 0.459);
    color: #fff;
    margin:0.5em;
}

#header{
    display:block;
    margin:0 auto;
    text-align: center;
    margin-bottom:2%;
}

.field.is-grouped {
    display: flex;
    justify-content: center;
    margin:auto;
    width: 50%;
    margin-bottom:8%;
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
    padding: 0em 4.5em 0em 4.5em;
}

.card {
    background-color: #fff;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    border-radius:0.5em;
}

.image.is-4by3 img {
    border-radius:0.5em 0.5em 0em 0em;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
    margin-bottom:5%;
}

.button {
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;
}

.button.is-primary {
    background-color: rgb(0, 176, 199);
    border-color: transparent;
    color: #fff;
}

.button.is-info {
    background-color: rgb(85, 178, 83);
    border-color: transparent;
    color: #fff;
}

.button.is-primary:hover {
    background-color: rgb(2, 155, 175);
}

.button.is-info:hover {
    background-color: rgb(73, 165, 72);
}
